* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ccc;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.container-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
.password__form {
  background: white;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-flow: column;
  gap: 15px;
}
.password__form-group {
  border: 1px solid black;
  padding: 10px;
  border-radius: 6px;
}
.password__form-display {
  display: flex;
  justify-content: space-between;
}
.password__form-group > label {
  display: inline-block;
}
.password__form-group > input[type="checkbox"] {
}
.password__form-group > input[type="range"] {
  width: 100%;
}
.password__form-group--alt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password__form-submit,
.password__form-actions > button {
  padding: 8px 12px;
  background: #444;
  border: none;
  color: white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.password__form-submit:hover,
.password__form-actions > button:hover {
  background: #222;
}
