* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 40px;
  display: flex;
  flex-flow: column;
}
.container__header {
  margin-bottom: 20px;
  text-align: center;
}
.container__action {
  margin: 0 auto;
}
.title {
  font-size: 32px;
  margin-bottom: 10px;
}
.lead {
  font-size: 24px;
}
.card__grid {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex-flow: row wrap;
}
.card {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  display: flex;
  flex-flow: column;
  justifty-content: flex-start;
}
.card__img {
  height: 100px;
  width: 100px;
}
.card__img > img {
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  width: 100%;
}
.card__title {
  font-size: 18px;
}
.card__speed {
  color: #aaa;
  margin-bottom: 10px;
}
.card__price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
.card__price > span {
  color: #aaa;
  font-weight: normal;
}
.card__action,
.container__action {
  padding: 8px 12px;
  border-radius: 200px;
  outline: none;
  border: 1px solid black;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.container__action {
  background: black;
  color: white;
}
